<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Estados</title>
</h:head>

<h:body>
    <h:form>
        <h2>Estados</h2>

        <p:panel>
            <p:dataTable var="estado" value="#{estadoController.estados}">
                <p:column headerText="nome">
                    <h:outputText value="#{estado['nome']}"/>
                </p:column>

                <p:column headerText="codigoIbge">
                    <h:outputText value="#{estado['codigoIbge']}"/>
                </p:column>

                <p:column headerText="observacao">
                    <h:outputText value="#{estado['observacao']}"/>
                </p:column>
            </p:dataTable>
        </p:panel>
    </h:form>
</h:body>
</html>